body {
 font-family: Verdana, Helvetica, sans-serif;
 font-size: 9pt;
 background: orange;
 color: #000;
}

a {
	text-decoration: none
}

#logoutLink{
	text-decoration: underline;
	font-size: 20pt;
	color: white;
}

button {
    font-size: 25pt;
    font-weight: bold;
    padding: 20pt;
    border-color: lightgrey;
    border-width: thick;
    color: white;
    background: #FFC300;	
}

#divButtons {
	text-align: center
}

#benvenuto {
	font-family: Courier New, monospace;
	font-size: 45pt;
	font-style: italic;
	text-align: center;
	color: white
}

#elencoButton {
	margin-right: 20pt;
}

#logButton {
	margin-left: 20pt;
}