body {
 font-family: Verdana, Helvetica, sans-serif;
 font-size: 9pt;
 background: orange;
 color: #000;
}

a {
	text-decoration: none
}

button, .button, .eliminaButton{
    font-size: 25pt;
    font-weight: bold;
    padding: 20pt;
    border-color: lightgrey;
    border-width: thick;
    color: white;
    background: #FFC300;	
}

#elenco {
	margin-bottom: 60pt;
	text-align: center
}

table {
	border: 1px solid white;
	margin: auto;
}

th, td {
	border: 1px solid white;
	padding: 20pt;
}

.row {
	font-size: 16pt;
	font-weight: normal;
	color: white
}

.eliminaButton {
	padding: 15pt;
	background: #FF474C
}

.collezioneButton {
	background: #C8A2C8;
}

#benvenuto {
	font-family: Courier New, monospace;
	font-size: 45pt;
	font-style: italic;
	text-align: center;
	color: white
}

#newCollezioneButton {
	margin-top: 20pt;
}

#divButtons{
	text-align: center;
}

#divLogout{
	text-align: center;
	margin-bottom: 30pt;
}

#logoutLink{
	text-decoration: underline;
	font-size: 20pt;
	color: white;
}

#nomeUtente, #ultimoAccesso{
	font-size: 25pt;
	color: white;
	text-decoration: underline;
	font-weight: bold;
	font-family: Courier New, monospace;
}

.nomeCollezione {
	display: none;
}

